body {
  border: 0px;
  background-color: #2f4f30;
  color: white;
}

.title {
  background-color: black;
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
}

.card-view {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#cards-game,
computadora-cartas {
  height: 250px;
}
